<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title><%= title %></title>
</head>
<body>
  <nav>
    <h1 class="title"><%= title %></h1>
    <a href="/newUser">
      <h4>Add Player</h4>
    </a>
    <a href="/users">
      <h4>All Players</h4>
    </a>
    <% if(buttonText === "Update") { %>
      <a href="/users/<%= userId%>">
        <h4>Back</h4>
      </a>
    <% } else { %>
      <a href="/">
        <h4>Home</h4>
      </a>
    <% } %>
  </nav>
  <div id="container">
    <form
      class="info-box"
      <% if(buttonText === "Update") { %>
        action="/users/<%= userId%>?_method=PUT"
      <% } else { %>
        action="/users"
      <% } %>
      method="post">
      <div class="field">
        <label class="text-label" for="userName">Username (Max 10 Characters):</label>
        <input name="userName" id="userName" value="<%= userName %>" type="text" required>
      </div>
      <div class="field">
        <label class="text-label" for="splashTag">Splash Tag (4-5 digits):</label>
        <div>
          <label>#</label>
          <input name="splashTag" id="splashTag" value="<%= splashTag %>" type="text" required>
        </div>
      </div>
      <div class="field">
        <label for="species">Species</label>
        <select name="species" id="species">
          <option 
            value="Inkling"
            <% if(species === "Inkling") {%>
              selected
            <% } %>
          >
            Inkling
          </option>
          <option
            value="Octoling"
            <% if(species === "Octoling") {%>
              selected
            <% } %>
          >
            Octoling
          </option>
        </select>
      </div>
      <div class="field">
        <label for="favWeaponKit">Favorite Weapon Kit</label>
        <select name="favWeaponKit" id="favWeaponKit">
          <% kits.forEach(kit => { %>
            <option
              value="<%= kit.kitName %>"
              <% if(favKit === kit.kitName) {%>
                selected
              <% } %>
            >
              <%= kit.kitName %>
            </option>
          <% }) %>
        </select>
      </div>
      <div class="field">
        <label for="favStage">Favorite Map</label>
        <select name="favStage" id="favStage">
          <% stages.forEach(stage => { %>
            <option
              value="<%= stage.name %>"
              <% if(favStage === stage.name) {%>
                selected
              <% } %>
            >
              <%= stage.name %>
            </option>
          <% }) %>
        </select>
      </div>
      <div class="checkbox">
        <input type="checkbox" name="noRobo" id="noRobo" required>
        <label for="noRobo"><pre>I am a certified cephalopod.</pre></label>
      </div>
      <button id="button"><%= buttonText %></button>
    </form>
  </div>
</body>
</html>