<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title><%= title %></title>
</head>
<body>
  <nav>
    <h1 class="title"><%= title %></h1>
    <a href="/users">
      <h4>Users</h4>
    </a>
  </nav>
  <div id="container">
    <form class="info-box" action="/users" method="post" style="box-shadow: 10px 10px 11px #000000;">
      <div class="field">
        <label class="text-label" for="userName">Username:</label>
        <input name="userName" id="userName" type="text" required>
      </div>
      <div class="field">
        <label class="text-label" for="splashTag">Splash Tag(4-5 digits):</label>
        <div>
          <label>#</label>
          <input name="splashTag" id="splashTag" type="text" required>
        </div>
      </div>
      <div class="field">
        <label for="species">Species</label>
        <select name="species" id="species">
          <option value="Inkling">Inkling</option>
          <option value="Octoling">Octoling</option>
        </select>
      </div>
      <div class="field">
        <label for="favWeaponKit">Favorite Weapon Kit</label>
        <select name="favWeaponKit" id="favWeaponKit">
          <% kits.forEach(kit => { %>
            <option value="<%= kit.kitName %>"><%= kit.kitName %></option>
          <% }) %>
        </select>
      </div>
      <div class="field">
        <label for="favStage">Favorite Map</label>
        <select name="favStage" id="favStage">
          <% stages.forEach(stage => { %>
          <option value="<%= stage.name %>"><%= stage.name %></option>
          <% }) %>
        </select>
      </div>
      <div class="checkbox">
        <input type="checkbox" name="noRobo" id="noRobo" required>
        <label for="noRobo"><pre>I am a certified cephalopod.</pre></label>
      </div>
      <button id="button">Create</button>
    </form>
  </div>
</body>
</html>