<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/styles.css" />
  </head>

  <body>
    <nav>
      <h1 class="title"><%= title %></h1>
      <% if(type === "users") { %>
        <a href=<%= showKitDetails ? "/users" : "/" %>>
          <h4>Back</h4>
        </a>
      <% } else { %>
        <a href="/">
          <h4>Home</h4>
        </a>
      <% } %>
    </nav>
    <div id="container">
      <% if(type === "users") { %>
      <div id="users">
        <% users.forEach((user, idx) => { %>
          <div class="info-box"
            id="<%= idx+1 %>"
          >
            <h2>
              <pre><%= user.userName %> #<%= user.splashTag %></pre>
            </h2>
            <h4>
              Species: <%= user.species %>
            </h4>
            <h4>
              Favorite Weapon Kit: <%= user.favWeaponKit %>
            </h4>
            <% if(showKitDetails){ %>
              <h5>Main: <%= kit.main %></h5>
              <h5>Sub: <%= kit.sub %></h5>
              <h5>Special: <%= kit.special %></h5>
            <% } %>
            <h4>
              Favorite Map: <%= user.favStage %>
            </h4>
            <% if(!showKitDetails){ %>
              <a href="/users/<%= user.id %>">
                <h4>Details</h4>
              </a>
            <% } %>
            
            <form 
              action="/users/<%= user.id%>?_method=DELETE"
              class="delete-form"
              method="POST"
            >
              <button type="submit" >X</button>
            </form>

          </div>
        <% }); %>
      </div>
      <% } else {%>
        <div class="info-box">
          <%= content %>
        </div>
      <% } %>
    </div>
  </body>
</html>